.example-container {
    height: 100vmax;
    width: 100%;
  }
  
  .example-sidenav-content {
    height: 100px;
    width:100px;
    align-items: flex-end;
    justify-content: center;
  }
  
  .example-sidenav {
    width:300px;
    background-color: rgb(255, 255, 255);
 
  }
  
  .logo-css{
    font-weight:bold;
  }
