.example-spacer {
    flex: 1 1 auto;
}

.fixed{
    position: fixed;
    width:100%;
    top:0;
}

.mat-toolbar.mat-primary {
    background: #34a853;
    color: #fff;
}

.logo-title{
    margin:5px;
  }